@import "../styles/colors.scss";

.text_block {
  background-color: rgba(255, 255, 255, 0.6);
  color: $black;
  font-size: 1rem;
  padding: 1em;
  width: 100%;
  max-width: 800px;
  // opacity: 0;
  transition: opacity ease-in-out 0.75s;

  @media (min-width: 800px) {
    font-size: 1.125rem;
  }
}

.email {
  svg {
    width: 40px;
    height: 40px;
    margin: 0.25em 0.5em;
  }

  a {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 800px;
    display: flex;
    align-items: center;
    color: $lightgrey;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    // opacity: 0;
    transition: opacity ease-in-out 1s;

    &:hover {
      color: $white;
    }
  }
}
