@import "../styles/colors.scss";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  p {
    color: $lightgrey;
  }
}

.icons {
  svg {
    cursor: pointer;
    color: #00bb92;
    height: 40px;
    width: 40px;
    margin: 0 0.75em 0.25em 0;

    &:hover {
      color: darken(#00bb92, 7%);
    }
  }
}
