@import "../styles/colors.scss";

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  background: $black;
  padding: 0 0 8px 15px;
  border-bottom-left-radius: 100%;
  transition: ease-in-out 0.25s;

  div {
    height: 4px;
    background-color: $lightgrey;
    margin: 7px 0 7px auto;
    transition: transform ease-in-out 0.25s;
  }

  div:nth-child(1) {
    width: 40px;
  }

  div:nth-child(2) {
    width: 30px;
  }

  div:nth-child(3) {
    width: 20px;
  }

  &:hover {
    div {
      background-color: $white;
    }
  }

  &.displayed {
    right: 300px;
    div:nth-child(1) {
      transform: translate(-5px, 13px) rotate(45deg);
    }

    div:nth-child(2) {
      opacity: 0;
    }

    div:nth-child(3) {
      transform: translate(-15px, -9px) rotate(-45deg);
    }
  }

  &:focus {
    outline: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  transition: ease-in-out 0.25s;
  border-bottom: 1px solid $darkgrey;
  border-left: 1px solid $darkgrey;

  &.displayed {
    right: 0;
  }

  li {
    border-bottom: 1px solid $grey;
    &:last-child {
      border: none;
    }
  }

  a {
    background: $black;
    color: $lightgrey;
    display: block;
    font-size: 1.25em;
    text-transform: uppercase;
    padding: 0.72em;
    text-align: center;
    text-decoration: none;

    &:hover,
    &.active {
      color: $white;
      background: lighten($black, 5%);
    }
  }
}
